{% set master = salt['pillar.get']('spinnaker:master') %}


{% set clouddriver = salt['pillar.get']('spinnaker:clouddriver') %}

{% set echo = salt['pillar.get']('spinnaker:echo') %}

{% set fiat = salt['pillar.get']('spinnaker:fiat') %}

{% set front50 = salt['pillar.get']('spinnaker:front50') %}

{% set gate = salt['pillar.get']('spinnaker:gate') %}

{% set igor = salt['pillar.get']('spinnaker:igor') %}

{% set orca = salt['pillar.get']('spinnaker:orca') %}

{% set rosco = salt['pillar.get']('spinnaker:rosco') %}

{% set deck = salt['pillar.get']('spinnaker:deck') %}

{% set redis = salt['pillar.get']('spinnaker:redis') %}

